env/
.vscode/settings.json
P4.code-workspace
TournamentManager/models/__pycache__/
TournamentManager/views/help.py
TournamentManager/views/__pycache__/
TournamentManager/controlers/__pycache__/
TournamentManager/commands/__pycache__/
TournamentManager/reports/__pycache__/
